<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee behavior="" direction="Left">Welcome To Home</marquee>
    <center><br><br><br><br>
        <br><br><h3>{{error}}</h3><br><br>
        <form action="{% url 'home' %}" method="POST" >
            {% csrf_token %}
            <label for="id">User Name</label>
            &nbsp;<input type="text"name="username" placeholder="Enter Your Username.." required><br>
            <br><label for="">Password</label>
            &nbsp;&nbsp;&nbsp;<input type="text" name="password" placeholder="Enter Your Passsword..." required>
            <br><br><button type="submit">Login</button>
        </form>
    </center>
    
</body>
</html>